<!--
  Author: Justin Clayton
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Wall</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
  <header class="text-light">
    <h1>Coding Dojo Wall</h1>
    <p>
      Welcome {{ request.session.user_name }}
      <a class="btn btn-warning" href="{% url 'app:logout' %}">Logout</a>
    </p>
  </header>
  <div class="container bg-light">
    <h2>Create a New Message</h2>
    <form action="{% url 'app:create_message' %}" method="POST">{% csrf_token %}
      <textarea name="message_text" class="form-control" required></textarea>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
    <section id="messages">
      {% for message in messages %}
      <div class="message">
        <h3>
          <div>
            {{ message.owner.first_name }} {{ message.owner.last_name }} -
            {{ message.created_at }}
          </div>
          {% if message.owner.id == request.session.user_id %}
          <form action="{% url 'app:destroy_message' message_id=message.id %}"
            method="POST">{% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          {% endif %}
        </h3>
        <p>
          {{ message.text }}
        </p>
        <div id="comments">
          {% for comment in message.comments.all %}
          <h4>
            <div>
              {{ comment.owner.first_name }} {{ comment.owner.last_name }} -
              {{ comment.created_at }}
            </div>
            {% if comment.owner.id == request.session.user_id %}
            <form action="{% url 'app:destroy_comment' comment_id=comment.id %}"
              method="POST">{% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            {% endif %}
          </h4>
          <p> {{ comment.text }}</p>
          {% endfor %}
          <h4>Post a comment</h4>
          <form action="{% url 'app:create_comment' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="message_id" value="{{ message.id }}">
            <textarea name="comment_text" class="form-control" required></textarea>
            <button type="submit" class="btn btn-success">Post</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </section>
  </div>
</body>
</html>
